{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Home page</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/burger.css' %}">
      <link rel="stylesheet" href="{% static 'css/footer.css' %}">
      <meta name="viewport" content="width=device-width">
   </head>
   <body>
      <header class="header">
         <div class="burger">
            <span></span>
         </div>
         <div class="header-contanier container">
            <nav class="navbar">
               <a href="#" class="navbar__logo"><img src="{% static 'image/Helltaker_ProfilePicture.jpg' %}" alt="Logo"></a>
               <ul class="navbar-menu">
                  <li class="navbar-menu__link">
                     <a href="#character" class="navbar-menu__link__linker"><span>C</span>haracter</a>
                  </li>
                  <li class="navbar-menu__link">
                     <a href="#" class="navbar-menu__link__linker"><span>W</span>ork <span>E</span>xperience</a>
                  </li>
                  <li class="navbar-menu__link">
                        <a href="#" class="navbar-menu__link__linker">The <span>W</span>ay I Do A <span>J</span>ob</a>
                  </li>
               </ul>
            </nav>
         </div>         
      </header>
      <div id="character" class="callbacks container">
         <h1 class="MAIN_ARTICLE">
            <a href="/learn" class="linker" >Please Head to the learning section</a>
         </h1>
         <h3 class="character__main-title">character</h3>
         <h4 class="callbacks__title">
            I asked my friends to tell me, what do they think about my personality. <br>Here's what I've got
         </h4>
         <div class="callbacks-messages-vk">
            <div class="callbacks-messages-vk__item">
               <a href="https://vk.com/diamond654" target="_blank" class="callbacks-message-vk__item__link"><img src="{% static 'image/almaz-gatiatullin.jpg' %}" alt="almaz-gatiatullin" class="callbacks-message-vk__item__link__photo">Almaz</a>
               <article class="his-message">1. Не пугай так<br>
                  2. Суицид не выход<br>
                  3. Весёлый, умный, с хорошим чувством юмора, добрый, верный, честный, общительный, заботливый, порядочный, искренний, надёжный, оптимист, больше ничего в голову не приходит
               </article>
            </div>
            <div class="callbacks-messages-vk__item">
               <a href="https://vk.com/eskandro" target="_blank" class="callbacks-message-vk__item__link"><img src="{% static 'image/iskander.jpg' %}" alt="iskander" class="callbacks-message-vk__item__link__photo">Iskander</a>
               <article class="his-message">
                  Привет. Спокойный, уравновешенный, веселый, отзывчивый. Приятен в общении. Вот так как то)) большего не могу сказать)
               </article>
            </div>
            <div class="callbacks-messages-vk__item">
               <a href="https://vk.com/york_kalm" target="_blank" class="callbacks-message-vk__item__link"><img src="{% static 'image/saidash.jpg' %}" alt="Saidash" class="callbacks-message-vk__item__link__photo">Saidash</a>
               <article class="his-message">
                  Если кратко говоря: человек, который способен и выслушать и поддержать разговор и поговорить по душам. Я думаю если даже Тима начнёт сливать ты не уйдёшь в тильт, а попытаешься вытащить команду. Пытаешь всегда быть навеселе несмотря на жизненные трудности. И всегда готов поделиться всем если кому то надо
               </article>
            </div>
            <div class="callbacks-messages-vk__item">
               <a href="https://vk.com/chu_virlik" target="_blank" class="callbacks-message-vk__item__link"><img src="{% static 'image/viktoriya.jpg' %}" alt="viktoriya" class="callbacks-message-vk__item__link__photo">Viktoriya</a>
               <article class="his-message">
                  Так<br>
Ну, как по мне, ты достаточно заботливый и внимательный к людям, относишься с пониманием к окружающим. С тобой приятно вести диалоги, да и в принципе просто поболтать. Ещё мне нравится, что ты уважительно относишься к людям любого возраста. Ещё я заметила, что ты всегда готов поддержать близких тебе людей.
Ну, это первое что на ум пришло)
               </article>
            </div>
            <div class="callbacks-messages-vk__item">
               <a href="https://vk.com/not_almaz" target="_blank" class="callbacks-message-vk__item__link"><img src="{% static 'image/almaz-galiullin.jpg' %}" alt="almaz-galiullin" class="callbacks-message-vk__item__link__photo">Almaz</a>
               <article class="his-message">
                  Уверенный в себе, общительный, несколько оптимистичный. В каком-то смысле даже тактичный. Приятный в общении и работе человек, способный как умело поддержать разговор, так и предложить интересное решение задачи/проблемы
               </article>
            </div>
         </div>
      </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="{% static 'js/burger.js' %}"></script> 
   </body>
   <script src="{% static 'js/anchor.js' %}"></script>
</html>