<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Learning Page</title>
</head>
<body>
   <header><h1 class="article">there will be some learning progressions</h1></header>
   <main>
      <ul class="list">
         {% for profile in profiles %}
         <li class="list__item">{{profile}}</li>
         {% endfor %}
      </ul>
   </main>
</body>
</html>